.main-cadastro {
  text-align: center;
}

body {
  font-family: "Rancho", sans-serif;
  background: #dfb39a;
  color: #5a2b2b;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0c4b5;
}

header .barra-pesquisa {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.main-cadastro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
}

/* .nome-prato {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ingredientes {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.modo-preparo {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.imagens {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
} */

.botao-receita {
  grid-column: 1 / 4;
  padding: 10px 20px;
  background-color: #f0c4b5;
  color: #5a2b2b;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  justify-self: center;
}

.botao-receita:hover {
  background-color: #e0a997;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

textarea {
  height: 300px;
  resize: none;
}

.uploads input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f0c4b5;
  margin-top: 20px;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer nav a {
  color: #5a2b2b;
  text-decoration: none;
}

footer .social a {
  margin-right: 10px;
  color: #5a2b2b;
  text-decoration: none;
}
