main {
  color: #621d06;
  font-family: Rancho;
}

.main-sobre h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.main-sobre h2 {
  max-width: 50ch;
}

.main-sobre ul {
  margin-top: 5px;
}

.main-sobre p {
  font-size: 20px;
}

.main-info {
  margin-bottom: 20px;
}
